.footer-container {
  background-color: #885534;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  .footer {
    display: flex;
  }
  .footer-text {
    font-size: smaller;
    color: #ffc595;
  }
}
