.Fondo-personajes {
  @include mobilep() {
    width: 250px;
    text-size-adjust: auto;
  }
  background-color: $ColorPrincipal;
  width: 500px;
  border-radius: 5%;
  margin: 15px;
}
.Padre {
  .personajes {
    ul {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      li {
        @include flex(center);
      }
      h3 {
        color: $ColorTexto;
        text-decoration: underline;
      }
      p {
        padding: 20px;
      }
    }
  }
}
